platform: linux
image_resource:
  type: docker-image
  source:
    insecure_registries: ["10.234.24.211:443"]
    repository: 10.234.24.211:443/golang
    tag: 1.9.4
inputs:
- name: peppermint-sparkles
  path: /src/gitlab.manulife.com/oa-montreal/peppermint-sparkles
run:
  path: sh
  args:
    - -exec
    - |
      export GOPATH=${PWD}
      cd $GOPATH/src/gitlab.manulife.com/oa-montreal/peppermint-sparkles
      go test -v -cover ./...
